---
title: Bristol Radical History Group Poster &amp; Flyer Archive
---
<h1 class="index-page__title">Welcome to the BRHG Poster &amp; Flyer Archive</h1>

<div class="index-page__intro">
  <p>This archive contains the promotional material produced by Bristol Radical History Group since the first Radical History Week in 2006.</p>
  <p>Some of the artifacts in this archive relate to events put on in association with other organisations. In particular:</p>
  <ul class="index-page__intro-list">
    <li><a href="https://network23.org/realww1/" target="_blank">Remembering the Real World War I (RRWWI)</a></li>
    <li><a href="https://counteringcolston.wordpress.com/" target="_blank">Countering Colston</a></li>
  </ul>
</div>

<h2 class="index-page__sub-title">Galleries By Year</h2>
<ul class="index-page__list">
  {% for gallery in collections.orderedGalleries %}
    <li class="index-page__list-item">
      <a href="{{ gallery.url }}" class="index-page__list-item-link">
        {{ gallery.data.title | safe }}
      </a>
    </li>
  {% endfor %}
</ul>

<h2 class="index-page__sub-title">Galleries By Category</h2>
  <ul class="index-page__list">
    {% for cat in categories %}
      <li class="index-page__list-item">
        <a href="/{{ cat.name | slugify }}/" class="index-page__list-item-link">
          {{ cat.shortLabel }}
        </a>
      </li>
    {% endfor %}
  </ul>

<div class="index-page__quote">
  <p class='monospace'><b>radical</b> /&#x02C8;&#x0279;&#x00E6;d&#x026A;k&#x0259;l/ adjective 1.(especially of change or action) relating to or affecting the fundamental nature of something; far-reaching or thorough. 2.characterized by departure from tradition; innovative or progressive.</p>
</div>

<div class="letters">
  <div class="letters__img-wrap">
    <img src="/images/letters/B.png" alt="" class="letters__img">
  </div>
  <div class="letters__img-wrap">
    <img src="/images/letters/R.png" alt="" class="letters__img">
  </div>
  <div class="letters__img-wrap">
    <img src="/images/letters/H.png" alt="" class="letters__img">
  </div>
  <div class="letters__img-wrap">
    <img src="/images/letters/G.png" alt="" class="letters__img">
  </div>
</div>